.vagrant
*.tar.gz
CHANGELOG
build/*

CMakeFiles
Debug
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
rlg.sln
rlg.vcxproj
rlg.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
Win32
rlg
Makefile
rlg.dir

rlg-log.txt
log.txt
